<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  {%- capture page_title %}{% if title %}{{ title }}{% elsif page.title %}{{ page.title }}{% endif %}{% endcapture -%}
  {%- assign meta_description = description | default: site_description -%}
  {%- assign canonical = site_url | append: page.url -%}
  <title>{{ page_title }}{% if site_title %} | {{ site_title }}{% endif %}</title>
  <meta name="description" content="{{ meta_description }}">
  <link rel="canonical" href="{{ canonical }}">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="alternate" type="application/rss+xml" title="the Cross Orlando - Blog" href="/feed.xml">
  <meta content='width=device-width, initial-scale=1' name='viewport'>
  <meta name="google-site-verification" content="CzFxMWlEpWhngK0ldnHuaj8OmpIPG6ZBsyobcInlucU">

  <!-- Open Graph / Twitter -->
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ site_title }}">
  <meta property="og:title" content="{{ page_title | default: site_title }}">
  <meta property="og:description" content="{{ meta_description }}">
  <meta property="og:url" content="{{ canonical }}">
  <meta property="og:image" content="{{ site_url }}/assets/logo.png">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ page_title | default: site_title }}">
  <meta name="twitter:description" content="{{ meta_description }}">
  <meta name="twitter:image" content="{{ site_url }}/assets/logo.png">

  <link rel="stylesheet" href="/css/style.css">
  {% if layout == "message" %}<link rel="stylesheet" href="/css/plyr.css">{% endif %}
  {% if page.url == "/lyrics/" %}<meta name="robots" content="noindex">{% endif %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Church",
    "name": "the Cross Orlando",
    "url": "{{ site_url }}/",
    "image": "{{ site_url }}/assets/logo.png",
    "description": "Connection, Invitations, Information and Community",
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": "28.539892",
      "longitude": "-81.393648"
    },
    "openingHours": "Su 10:00-12:00"
  }
  </script>
</head>

{{ page.meta }}
