---
title: Messages
permalink: "/messages/{% if pagination.pageNumber > 0 %}page{{ pagination.pageNumber | plus: 1 }}/{% endif %}"
layout: default
pagination:
  data: collections.messages
  size: 10
  reverse: true
  alias: messages
---

<div class="row">
{% for message in messages %}
  {%- assign speaker = message.data.podcast_author | default: "Ben Hoyer" -%}
  <div class="col col-lg-6">
    <article class="card">
      <div class="card-header">
        <h2 class="message-title"><a href="{{ message.url }}">{{ message.data.title }}</a></h2>
      </div>
      <div class="card-body">
        <p class="message-meta text-muted"><time datetime="{{ message.date | date: '%Y-%m-%d' }}">{{ message.date | date: "%b %-d, %Y" }}</time> &middot; {{ speaker }}</p>
        {% if message.data.summary %}<p>{{ message.data.summary }}</p>{% endif %}
        <span class="read-more"><a href="{{ message.url }}" class="btn">Listen &amp; read</a></span>
      </div>
    </article>
  </div>
{% endfor %}
</div>
<nav>
  <ul class="pagination">
    {% if pagination.href.next %}
    <li class="page-item"><a class="page-link" href="{{ pagination.href.next }}">Older</a></li>
    {% endif %}
    {% if pagination.href.previous %}
    <li class="page-item"><a class="page-link" href="{{ pagination.href.previous }}" tabindex="-1">Newer</a></li>
    {% endif %}
  </ul>
</nav>
