---
title: Messages
permalink: "/messages/"
layout: default
pagination:
  data: collections.messages
  size: 10
---

<div class="row">
{% for message in pagination.items %}
  <div class="col col-lg-6">
    <article class="card">
      <div class="card-body">
        <h2 class="card-title"><a href="{{ message.url }}">{{ message.title }}</a></h2>
        <p>{{ message.summary }}</p>
        <audio controls="controls">
          <source src="{{ message.file }}" type="audio/mpeg">
        </audio>
      </div>
    </article>
  </div>
{% endfor %}
</div>
{% if paginator.total_pages > 1 %}
<nav>
  <ul class="pagination">
    {% if paginator.next_page %}
    <li class="page-item">
      <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
    </li>
    {% endif %}
    {% if paginator.previous_page %}
    <li class="page-item">
      <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl }}" tabindex="-1">Newer</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
